body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url('./images/Bg_To_Do_List.webp');
    background-size: cover;
    background-repeat: no-repeat; */
}

main {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 550px;
    gap: 10px;
}

